/vton_gt
/vton_anydoor
/vton_stableviton
/vton_catdm
/metrics_anydoor
/metrics_stableviton
/metrics_catdm



/comparison_images
/adaptation_kenzo_lora
/adaptation_nolora
/adaptation_subset
/adaptation_zara_lora
